<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/bg_0"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bg_0"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.pengeluaran.DispatchModDispatchListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.picking.pickingall.PickingModLocListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.picking.pickingall.PickingScanLPNActivity"
            android:exported="false" />
        <activity
            android:name=".activity.picking.pickingall.PickingModInValLPNActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.picking.pickingall.PickingModWaveListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.penyimpanan.putawaybylpn.PutawayModDisplayLPNActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.penyimpanan.putawaybylpn.PutawayScanModInLocActivity"
            android:exported="false" />
        <activity
            android:name=".activity.penyimpanan.putawaybylpn.PutawayModInLocActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.penyimpanan.putawaybylpn.PutawayModLocatingManualActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.penyimpanan.putawaybylpn.PutawayModLPNItemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.penyimpanan.putawaybylpn.PutawayModLocatingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.penyimpanan.putawaybylpn.PutawayScanLPNActivity"
            android:exported="false" />
        <activity
            android:name=".activity.penyimpanan.putawaybylpn.PutawayInValLpnActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.penerimaan.penerimaaneceran.EceranInValScanBarcodeAcitivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.penerimaan.penerimaaneceran.EceranInValItemAcitivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.penerimaan.penerimaaneceran.EceranSubMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.penerimaan.penerimaaneceran.EceranScanBarcodeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.penerimaan.penerimaaneceran.EceranScanLPNActivity"
            android:exported="false" />
        <activity
            android:name=".activity.penerimaan.penerimaaneceran.EceranInValLPNActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.penerimaan.PenerimaanEceranActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.SubMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>